body {
    background: black;
}

.pin_thumb {
    height: 200px;
    margin: 1px;
}

.container-fluid {
    padding: 0px 50px;
    margin-bottom: 125px;
}

#templates {
    display: none;
}

#titleBar {
    height: 125px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px 30px;
    font-size: 70px;
    color: white;
}
