body {
    background: black;
}

.pin_thumb {
    height: 200px;
    margin: 1px;
}

.container-fluid {
    padding: 0px 50px;
}

#templates {
    display: none;
}

#title {
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: black;
    opacity: 0;
    transition: opacity 0.5s;
}
